{% include "header.html" %}
  <title>Thanks for your order!</title>
</head>
  <body>
        <nav class='navbar cart_nav'>
        <!-- <li class="map_link"><a href="#">1975 W 120th Ave, Westminster <i class="las la-external-link-alt"></i></a></li> -->
        <div class="sub-brand">
          <a href="{{ url_for('home') }}"><img class="logo" src="../static/images/matsumotto-logo.jpg" /></a>
          <!-- <a class="nav-item active" href=index.html>Matsumotto</a> -->
        </div>
        <!-- <a class="nav-item active" href=index.html>Matsumotto</a> -->
        <div class="drop-down">
          <a class="nav-item dp-items" href='{{ url_for("day") }}'>Main Menu</a>
          <a class="nav-item dp-items" href='{{ url_for("lunch") }}'>Lunch Menu</a>
        </div>

        <div>
          <!-- Insert image for cart later -->
<!--          <a class='cart' href="https://qmenu.us"><img src="../static/images/cart-icon.svg" /></a>-->
          <div class="item_num"></div>
          <a class='cart' href="{{ url_for('cart')}}"><img src="../static/images/cart-icon.svg" /></a>
        </div>

        <a href="#" class="nav-item icon">
          <img class="hambuger-icon flipIn" src="../static/images/menu-icon.svg" alt="menu-icon">
          <img class="close-icon" src="../static/images/close-symbol.svg" alt="close-dropdown-menu">
        </a>
      </nav>

    <h1 id="success">Thanks for your order!</h1>
    <p>
      We appreciate your business {{name}}!
      If you have any questions, please email
      <a href="mailto:orders@example.com">orders@example.com</a>.
    </p>
    <button onclick="topFunction()" id='topButton' title="Go to top">Top</button>
    <footer>
      <!-- will add copyright © with jquery  -->
    </footer>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
  <script src="../static/js/index.js" charset="utf-8" type="text/javascript"></script>
  <script src="../static/js/success.js" charset="utf-8" type="text/javascript"></script>

  </body>
</html>